{% extends "base.html" %}

{% block main %}

<h1>Your products</h1>

{% for item in basket_items %}

    <div style="background: lightgreen; border: dashed black; margin: 2%; padding: 2%">

        <a href="/products/{{item.product.id}}/"> {{ item.product.title }}</a>

        <p > Quantity : {{ item.quantity }}</p>
        <p> Price : {{ item.product.price }} per one</p>

        <div style="background: white; border: dashed black">
            <a href="/products/{{item.product.id}}/delete/">Delete</a>
        </div>

    </div>

{% endfor %}

<a style="background: gainsboro; margin: 2%; padding: 2%" href="/"> Go to main page</a>

{% endblock %}
