{% extends "base.html" %}

{% block main %}

        <p style="background: greenyellow; border: dashed black; margin: 2% 2% 2% 2% ; padding: 2%">Name: {{ item.title }}</p>

        {% if item.definition %}
            <div style="background: greenyellow; border: dashed black; margin: 2% 2% 2% 2% ; padding: 2%">{{ item.definition }}</div>
        {% endif %}

        <p style="background: limegreen; border: dashed black; margin: 2% 2% 2% 2% ; padding: 2%">It is cost {{ item.price }} per 1</p>

        {% if item.picture %}
            <div>{{ item.picture }}</div>
        {% endif %}

        <form style="background: lightgreen; border: dashed black; margin: 2% 2% 2% 2% ; padding: 2%" method="post">
            <p style=" margin: 2% 2% 2% 2% ; padding: 2%">How many are you want to bay?</p>
             {{ item_form.as_p }}
             {% csrf_token %}

            <p><input type="submit" value="Add product"></p>
        </form>

<a style="background: gainsboro; margin: 2% 2% 2% 2% ; padding: 2%" href="/"> Go to main page</a>

{% endblock %}
