{% extends "base.html" %}

{% block main %}

<div style="background: greenyellow; border: dashed black; margin: 2% 2% 2% 2% ; padding: 2%" >

    {% if request.user.is_authenticated %}
            <a style="background: lightgoldenrodyellow; padding: 3%" href="/basket/">Your Basket</a>
            <a style="background: lightgoldenrodyellow; padding: 3%" href="/logout/">Logout</a>
            <p style="padding: 3%">Hello {{request.user.username}}</p>
    {% else %}
            <a style="background: gainsboro; margin: 2% 2% 2% 2% ; padding: 2%" href="/login/">Login</a>
    {% endif %}

</div>

<div class="container-fluid" style="background: limegreen">

    {% for item in banners %}

        <h2>Banners</h2>
        <div style="background: greenyellow; border: dashed black; margin: 2%; padding: 5%" class="justify-content-center">
            {% if item.product %}
                <a href="/products/{{item.product.id}}/">Product: {{item.product.title}}</a>
            {% endif %}
           <div class="justify-content-center">Title: {{ item.title }} </div>
        </div>

    {% endfor %}

</div>

<h2>Products</h2>

{% for item in products %}

    <div style="background: greenyellow; border: dashed black; margin: 2%; padding: 5%" class="justify-content-center">
        <a href="/products/{{ item.id }}/" >{{ item.title }}</a>
    </div>

{% endfor %}

{% endblock %}
